        * {
            margin: 0 auto;
            padding: 0;
        }

        :root {
            --light: rgb(255, 254, 245);
            --dark: rgb(32, 32, 32);
            --border: #dce0d3;
        }

        ::selection {
            background-color: gold;
        }

        a {
            color: rgb(94, 86, 207);
        }
        p {
            padding: 10px 0px 10px 0px;
        }

        a:hover {

            color: rgb(32, 32, 32);
            background-color: gold;

        }

        body {

            background-color: #fffef9;
            color: rgb(22, 22, 23);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 120%;
            line-height: 1.6;


        }

        .light-text a {

            border-radius: 5%;
            padding: 2px;
            background-color: #ffef9b;
        }

        .container {
            overflow: hidden;
            padding: 5%;
            margin: 0 auto;
            width: 80vw;
            max-width: 1000px;
        }

        model-viewer {
        
            margin: 0 auto;
  width: 100%;
  height: 60vh;
  border: solid #dce0d3 4px;
  border-radius: 8px;
  padding: 1%;
  background-color: rgb(255, 254, 245);
}

        h1 {
            font-size: 100%;
        }
       
        .navBar {

            display: grid;
            grid-template-columns: repeat(5, 1fr);
           
            

        }

        .navBar a {
            border-radius: 5%;
            font-size: 130%;
             padding: 4px;
  text-decoration: none;
  color: #9a9391;
  border: solid #dce0d3 4px;
   display: inline-block;
  text-decoration: none;
  color: #676be5;
  background-color: rgb(255, 254, 245);

        }

        .navBar a:hover {
    
  border: solid #676be5 4px;
  background-color: #ffef9b;
}
        .contact, .contact a {
  color: coral;
  font-weight: 300;
        }
.contact a:hover {
  color: white;
  background-color: #a4da66;
}

        .bottom {

            z-index: 3;
            position: fixed;
            top: 92%;
            background-color: rgb(40, 40, 38);
            color: white;
            width: 100%;
            height: 100vh;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
            margin: 0 auto;
            border: solid #dce0d3 4px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            

        }

    .current {
        font-size: 130%;
padding: 10px;
        border-top: 4px solid var(--border);
        border-left: 4px solid var(--border);
        border-right: 4px solid var(--border);

    }

    .current a {

        color: rgb(32, 32, 32);

    }

.journal-entry {

    border: solid #dce0d3 4px;
    padding: 10px;
    border-radius: 10px;

}
.journal-entry p { 

    padding: 10px;

}
.journal-entry-footer {

    padding-left: 40px;
    font-size: 110%;

}
.journal-image {

    width: 20vw;
    border-radius: 20px;
    margin: 0 auto;
    float: left;
    padding: 10px;

}

.floating-art-1 {
    width: 10%;
    z-index: 2;
    position: fixed;
    left: 80%;
    top: 0%;

}
           
            #category {
                color: #e7820a;
            }
            .gallery {
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(2, 1fr);
            }
            .g-item {
                width: 92%;
            }
@media only screen and (max-width:800px) {
   
  .gallery {
                display: grid;
                grid-template-columns: 1fr;
            }
    
}

.floating-art-2 {
    width: 50%;
    max-width: 70px;
    filter: invert(1);
}
.floating-art-3 {
    width: 50%;
    max-width: 100px;
    
}

@media only screen and (max-width:800px) {
    .container {
        width: 90vw;
    }
    .journal-image {
        margin: 0;
        border-radius: 10px;
        width: 80%;
    }
    .floating-art-1 {
        left: 85%;
        width: 20%;
    }
    #sun-symbol {
        display: none;
    }
    .hud2 {
        display: none;
           display: inline-block;
    }
    .navBar {
        grid-template-columns: repeat(4, 1fr);
    }
   
}

@media only screen and (max-width:1000px) {
    .hud {
        display: none;
     
    }
    .hud2 {
        display: none;
    }
  
    
}

.s-box {
    border: solid #dce0d3 4px;
    padding: 10px;
    border-radius: 10px;
  
}

ul {
    padding-left: 30px;
}
small {
    color: #4fc19b;
}

         .Hotspot {
                font-size: 105%;
                padding: 4px;
  text-decoration: none;
  color: #9a9391;
  border: solid #dce0d3 2px;
   display: inline-block;
  text-decoration: none;
  color: #676be5;
  background-color: rgb(255, 254, 245);
            }
               .Hotspot:hover {
            
  border: solid #676be5 2px;
  background-color: #ffef9b;
}

