
a {
  color: inherit;
}
a:hover {
  background-color: gold;
  color: #1f1e1e;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 20px;
  padding-top: 0;
}
body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    gap: 20px;
    height: 100dvh;
    width: 100vw;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.02em;
    font-weight: normal;
    font-family: "aRIAL", sans-serif;
    background-color: #FAF9F4;
}

.box img {
    width: calc(100%);

}

p {
    margin-bottom: 0;
}

::selection {
    background-color: gold;
  color: black;
}
/* Grids */
.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(33vw);
    gap: 20px;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(33vw);
    gap: 20px;
}
.grid-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: calc(33vw);
    gap: 20px;
}

#orange:hover {
    background-color: orangered;
  color: antiquewhite;
  border-color: antiquewhite;

}
.box {
    padding: 10px;
    border: dashed #000 1px;
    border-radius: 10px;
    overflow: auto;
  background-color: #f9f9f9;
  transition: transform 0.3s ease-out;
}

.box:hover {

    cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.3s ease-in;
}



.bottom {
       color: #eceae9;
       padding: 70px;
       text-align: center;
       background-color: #262525;
       height: 100%;

   }

 .mainmodel {
       margin: 0 auto;
       border-color: transparent;
       outline: none;
    padding: 0;
     height: 100%;
     width: 100%;
   }
#blog-posts {
  border: dashed #48a548 1px;
  border-radius: 10px;
  color: #48a548;
} 
#blog-posts:hover{
  /* background-color: inherit; */
}

.blog-post {
  padding: 10px;
  border: 1px dashed #48a548;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
}


.blog-post:hover {
  background-color: #48a548;
  color: white;
}

p {
  margin-top: 0;

}
.top-gui {
       text-align: center;
       font-size: 100%;      
       width: 100%;
       color: #eceae9;
       background-color: #262525;
       height: auto;
        padding: 10px;
 


   }
.footer {
       text-align: center;
       font-size: 15px;
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       color: #eceae9;
       background-color: #262525;
       height: 4%;
   }

/* Mobile */

@media only screen and (max-width:900px) {
  .grid-3, .grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }
  #orange {
    background-color: orangered;
  color: antiquewhite;
  }

  .mainmodel {
           height: 50vh;
       }
}
