* {
  overflow-x: clip;
}
a {
  color: inherit;
}
.title {
  color: #4286f4;
}
a:hover {
  background-color: gold;
  color: #1f1e1e;
}
.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
  padding: 10px;
  padding-top: 0;
  margin-right: 1%;
}
body {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  color: #000;
  font-size: 18px;
  letter-spacing: 0.03em;
  font-weight: normal;
  font-family: "aRIAL", sans-serif;
  background-color: #faf9f4;
}

.box img {
  width: calc(100%);
  border-radius: inherit;
}

p {
  margin-bottom: 0;
}

::selection {
  background-color: gold;
  color: black;
}
marquee {
  padding: 10px;
}
/* Grids */
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: calc(33vw);
  gap: 20px;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(50vw);
  gap: 20px;
}
.grid-2n1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: calc(33vw);
  gap: 20px;
}
.grid-1n2 {
   display: grid;
  grid-template-columns: 1fr 2fr;
  height: calc(33vw);
  gap: 20px;
}
.grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: calc(33vw);
  gap: 20px;
}

#orange:hover {
  background-color: #4b794b;
  color: antiquewhite;
  border-color: antiquewhite;
   font-size: 200%;
}
.box {
  padding: 10px;
  border: dashed #000 1px;
  border-radius: 10px;
  overflow: auto;
  background-color: #f9f9f9;
  transition: transform 0.3s ease-out;
  margin: 1%;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.3s ease-in;
}

.bottom {
  color: #eceae9;
  padding: 70px;
  text-align: center;
  background-color: #262525;
  height: 100%;
}

.mainmodel {
  margin: 0 auto;
  border-color: transparent;
  outline: none;
  padding: 0;
  height: 100%;
  width: 100%;
}
#blog-posts {
  border: dashed #48a548 1px;
  border-radius: 10px;
  color: #48a548;
}
#blog-posts:hover {
  /* background-color: inherit; */
}

.blog-post {
  padding: 10px;
  border: 1px dashed #48a548;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.blog-post:hover {
  background-color: #48a548;
  color: white;
}

p {
  margin-top: 0;
}
.top-gui {
  text-align: center;
  font-size: 100%;
  width: 100%;
  color: #eceae9;
  background-color: #262525;
  height: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: calc(33vw);
  gap: 20px;
}
.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #eceae9;
  background-color: #262525;
  height: auto;
  width: 98vw;

}
#clock {
  border: 2px solid #ffffff;
    border-radius: 5px;
margin-left: 10%;
  
}
#clock2 {
  border: 2px solid #ffffff;
    border-radius: 5px;
margin-left: 10%;
  
}
.button-press a {
  text-decoration:none;

}

/* Mobile */

@media only screen and (max-width: 900px) {
  .grid-3,
  .grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    height: min-content;
  }
  #orange {
    background-color: orangered;
    color: antiquewhite;
    font-size: 200%;
  }

  .mainmodel {
    height: 50vh;
  }
}

.button-press {
  border: 2px solid #ffffff;
  border-radius: 5px;

  text-decoration-line: blink; 
  
}
.button-press:hover {
    background-color: #faf9f4;
  color: black;
}
.button-press a:hover {
    background-color: #faf9f4;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}


