---
---

@import "no-style-please";

a {
    color: coral;
    background-color: rgb(235, 235, 229);
}

a:hover {
    color: black;
    background-color: gold;
}

body {
    background-color: rgb(255, 254, 245);
}

h1 {
  color: black;
}
