---
---

@import "no-style-please";

a {
    color: coral;
    background-color: aliceblue;
}

a:hover {
    color: black;
    background-color: gold;
}

body {
    background-color: rgb(255, 254, 245);
}

