---
---

@import "no-style-please";

a {
    color: #787cf4;
    background-color: rgb(235, 235, 229);
}

a:hover {
    color: black;
    background-color: gold;
}

body {
    background-color: rgb(255, 254, 245);
}

h1 {
    color: black;
}

@media only screen and (max-width: 600px) {
    ul {
        padding-left: 0.6rem;
    }
}