---
layout: default
---

{%-include back_link.html-%}

<article>


  

  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
    <br />
    {% if page.location %} 🌎 {{ page.location }} {% endif %}
  </p>

  <h1>{{ page.title }}</h1>

  <div class="glitched-content">{{ content }}</div>
  <br>
  <br>
  <div id="password-bar">
    <input type="password" id="password-input" placeholder="oO.o..eNter cOde..Oo.-.." />
    <button onclick="checkPassword()">decrypt.oO</button>
  </div>

</article>
