
@import "no-style-please";

::selection {
    background-color: gold;
}

a {
    color: #787cf4;
    background-color: rgb(235, 235, 229);
}

a:hover {
    color: black;
    background-color: gold;
}

body {
    background-color: rgb(255, 254, 245);
}

h1 {
    color: black;
}

@media only screen and (max-width: 600px) {
    ul {
        padding-left: 0.6rem;
    }
}

#password-bar {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#password-input {
  padding: 8px;
  font-size: 1em;
}

button {
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
}

.glitched-content {
  white-space: pre-wrap;
}